h1{
font-size:2.3em;
text-align:center;
color: #FF7A41 ;
}
div.scrollmenu{
background-color:#71FF4D;
overflow:auto;
white-space:nowrap;}

div.scrollmenu a {
  display:inline-block;
  color:black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

body{
  background-color: #60DAFF;
}

div.scrollmenu a:hover{
  background-color: #CAFF4D;
  
}